.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
    .q-content {
      text-align: center;
      .question {
        padding: 20px 0;
        font-size: 20px;
        font-weight: 600;
      }
      .q-image {
        width: 100%;
        height: 100px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .answer {
        .a-child {
          text-align: left;
          padding-left: 50px;
        }
      }
    }
    .footer {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 15px;
    }
  }
  .right-content {
    border: 2px solid #ccc;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    .main-timer {
      border-bottom: 1px dashed;
      text-align: center;
      font-weight: 600;
      padding-bottom: 18px;
      font-size: 30px;
    }
    .main-question {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      padding: 15px;
      .question {
        border: 1px solid #585858;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 255, 255, 0.504);
          color: red;
        }
        &.selected {
          background-color: #c6c6c6c6;
        }
        &.clicked {
          color: red;
        }
      }
    }
  }
}
