.dashboard-container {
  padding: 20px;
  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .content {
    display: flex;
    gap: 20px;
    .content-left {
      width: 40%;
      flex-wrap: wrap;
      display: flex;
      gap: 20px;
      .child {
        width: calc(50% - 10px);
        border-radius: 10px;
        height: 150px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .text-2 {
          font-size: 25px;
        }
      }
    }
    .content-right {
      width: 60%;
    }
  }
}
